
.Expenses{
    border-bottom: 1px solid gray;
    padding-left: 10px;
}
.dailyform{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    background-color: rgb(33, 88, 88);
    padding: 10px;
    color: white;
    border-radius: 10px;
    padding-left: 4rem;
}
.dailyform input, select{
    width: 80%;
    padding: 2px;
}
.expBtn{
    width: 20%;
    padding: 5px 10px;
    margin-top: 15px;
    font-weight: bold;
}
.listOfExpenses{
    width: 100%;
    padding-left: 1rem;
}
.listOfExpenses ul > li{
list-style: none;
}

.editBtn, .deleteBtn{
    color: black;
    font-weight: bold;
    margin-left: 10px;
    background-color: transparent;
    padding: 2px 5px;
    cursor: pointer;
}
.editBtn{
    border: 2px solid green;
    border-radius: 5px;
}
.editBtn:hover{
    background-color: green;
    color: white;
    padding: 2px 5px;
    border: 1px solid green;
}
.deleteBtn{
    border: 2px solid red;
    border-radius: 5px;
}

.deleteBtn:hover, .deleteBtn:active{
    background-color: red;
    color: white;
    padding: 2px 5px;
    border: 1px solid red;
}