.section{
    padding: 0;
    padding-bottom: 5rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.Expenses{
    padding-left: 10px;
}
.Expenses h3{
    text-align: center;
}

.dailyform{
    width: 45%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    background-color: rgb(45, 30, 78);
    padding: 10px;
    color: white;
    border-radius: 10px;
    padding-left: 4rem;
}
.dailyform input, select{
    width: 80%;
    padding: 2px;
    margin-bottom: 5px;
}
.expBtn{
    width: 20%;
    padding: 5px 10px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 5px 0px 10px 5px  rgb(129, 129, 235) ;
    
} 
.expBtn:hover{
    color: white;
    background-color: rgb(46, 46, 212);
    border: 1px solid transparent;
}
.listOfExpenses{
    width: 100%;
    padding-left: 1rem;
}
.listOfExpenses ul > li{
list-style: none;
}

.editBtn, .deleteBtn{
    color: black;
    font-weight: bold;
    margin-left: 10px;
    background-color: transparent;
    padding: 2px 5px;
    cursor: pointer;
}
.editBtn{
    color: green;
    border: 1px solid green;
    border-radius: 5px;
}
.editBtn:hover{
    background-color: green;
    color: white;
    padding: 2px 5px;
    border: 1px solid green;
}
.deleteBtn{
 color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.deleteBtn:hover, .deleteBtn:active{
    background-color: red;
    color: white;
    padding: 2px 5px;
    border: 1px solid red;
}

.premiumBtn{
    width: 10%;
    padding: 5px 5px;
    margin-top: 15px;
    font-weight: bold;
    margin-left: 2rem;
}
.premiumBtn:hover{
    color: white;
    background-color: blueviolet;
}