 .card{
    width: 100%;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(30, 144, 255, 0.5);
}
.card > header{
    /* width: 20%; */
    padding: 10px 20px;
    font-style: italic;
    font-size: 1.5rem;

} 